@{
	ViewBag.Title = "Learn (3)";

	Layout =
		"~/Views/Shared/Layouts/Layout_03.cshtml";
}

@section SomeSection
{
	<a href="~/Home/Index">Home</a>
}

<h2>
	View: Learn (3)
</h2>

@*
	@section SomeSection
	{
		<a href="~/Home/Index">Home</a>
	}
*@
