@{
	ViewBag.Title = "Learn (7)";

	Layout =
		"~/Views/Shared/Layouts/Layout_07.cshtml";
}

@section StyleSheetExceptions
{
	<style>
		h2 {
			color: red;
		}
	</style>
}

<h2>
	View: Learn (7)
</h2>
