@{
	// دقت داشته باشید که اگر بخواهیم یک صفحه‌ای ایجاد کنیم
	// که نخواهیم از هیچ الگوی ظاهری تبعیت نماید، باید از دستور ذیل استفاده کنیم
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Learn (10)</title>
</head>
<body>
	<h2>
		View: Learn (10)
	</h2>
</body>
</html>
