@{
	// <summary>
	// Step (4)
	// </summary>
	ViewBag.Title = "Learn (8)";

	//Layout =
	//	"~/Views/Shared/Layouts/_Layout_08.cshtml";

	ViewBag.SomeVariable3 = "Some Variable 3!";
}

<h2>
	View: Learn (8)
</h2>

<h3>
	In the view: @ViewBag.SomeVariable1
</h3>
